@using SegundoParcial.ViewModels;
@model EquipoViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].NumSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].FechaProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Deposito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposito)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
